body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b2b2b;
    color: #e4e4e4;
}

#name {
    font-weight: bold;
    font-size: 2em;
    margin-top: 100px;
    margin-left: 600px;
}

#intro .line1 {
    font-size: 1.2em;
    margin-left: 602px;
}

#intro .line2 {
    font-size: 1em;
    margin-left: 602px;
    color: rgb(193, 198, 198);
}

nav {
    display: flex;
    flex-direction: column;
}

nav a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

main {
    padding: 20px;
}

section {
    padding: 20px;
    min-height: 400px; /* Adjust as needed */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
