body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b2b2b;
    color: #e4e4e4;
    height: auto;
    overflow-x: hidden;
}

#name {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 3.5em;
    margin-top: 100px;
    margin-left: 700px;
}

#intro .line1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    margin-left: 700px;
}

#intro .line2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    margin-left: 700px;
    color: rgb(200, 206, 206);
}

nav {
    display: flex;
    font-size: 1em;
    flex-direction: column;
    margin-left: 690px;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


nav a {
    text-decoration: none;
    color: #e4e4e4;
    padding: 10px;
    transition: font-size 0.3s, font-weight 0.3s;
}

nav a:hover {
    font-size: 1.6em; /* Increase the font size on hover */
    font-weight: bold; /* Make the font bold on hover */
}

main {
    padding: 20px;
}

section {
    padding: 20px;
}

footer {
    padding: 10px;
    text-align: center;
    width: 100%; /* Set the width to 100% */
    bottom: 0; /* Align the footer at the bottom of the page */
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-grow: 1;
}

#container {
    display: flex;
    flex: 1;
    height: auto;
}

#left-side {
    position: fixed; /* Fix the position of the left side */
    width: 50%;
    height: 100%;
    background-color: #2b2b2b;
    padding: 20px;
    overflow-y: hidden; /* Disable scrolling on the left side */
}

#social-media {
    position: absolute; /* Position the icons at the bottom left corner */
    bottom: 100px; /* Adjust the distance from the bottom */
    margin-left: 700px;
    text-decoration: none;
}

.social-icon {
    display: inline-block;
    margin-right: 15px; /* Space between icons */
}

.social-icon img {
    width: 30px; /* Adjust the size of the icons */
    height: 30px;
}


#right-side {
    margin-left: 50%; /* Set the left margin to match the width of the left side */
    width: 50%;
    padding: 20px;
    overflow-y: auto; /* Enable scrolling on the right side */
    margin-top: 50px;
    height: auto;
}

.highlight {
    font-weight: bold; /* Make the text bold */
    color: white;
}

#about p {
    color: rgb(200, 206, 206);
    font-size: 18px;
    line-height: 1.7;
    max-width: 500px;
    word-wrap: break-word;
}

#about h2 {
    font-size: 30px;
    margin-top: 32px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#experience .timeline {
    position: relative;
    padding-left: -10px; /* Space for the timeline */
}

#experience .entry {
    position: relative;
    margin-bottom: 25px;
}

#experience .entry:before {
    content: '';
    position: absolute;
    left: -25px;
    top: 5px;
    width: 10px;
    height: 10px;
    background-color: #ebdbb2; /* Color of the timeline dot */
    border-radius: 50%;
}

#experience .date {
    font-weight: bold;
    color: #ebdbb2; /* Color of the date text */
    margin-bottom: 10px;
}

#experience .content h3 {
    margin: 0;
    font-size: 20px;
    color: #fff; /* Color of the job title */
    margin-bottom: 10px;
}

.link-icon {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
}

.link-icon h3::after {
    content: '\1F517'; /* Link icon (Unicode character) */
    margin-left: 7px; /* Space between text and icon */
    font-size: 15px;
}

#experience .content h4 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
}

#experience .content p {
    margin: 5px 0;
}

#experience h2 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#experience p {
    color: rgb(200, 206, 206);
    line-height: 1.7;
    max-width: 500px;
    word-wrap: break-word;
}

#projects h2 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#projects h2 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.project {
    display: flex;
    margin-bottom: 30px; /* Space between projects */
}

.preview img {
    width: 150px; /* Adjust the preview image size */
    height: auto;
    margin-right: 20px; /* Space between the image and details */
    margin-top: 10px;
}

.details h3 {
    font-size: 24px;
    margin: 0;
    color: white;
}

.details p {
    font-size: 18px;
    line-height: 1.5;
    max-width: 350px;
    word-wrap: break-word;
    color: rgb(200, 206, 206);
}

.keywords {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
}

.keywords span {
    background-color: #ebdbb2; /* Background color for keywords */
    padding: 5px 10px; /* Padding around keywords */
    margin: 5px; /* Space between keywords */
    border-radius: 5px; /* Rounded corners for keywords */
    font-size: 14px;
    color: rgb(7, 9, 9);
}
