body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #2b2b2b;
    color: #e4e4e4;
    height: auto;
}

#name {
    font-family: 'Pacifico', cursive;
    font-weight: bold;
    font-size: 3.5em;
    margin-top: 100px;
    margin-left: 700px;
}

#intro .line1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.2em;
    margin-left: 702px;
}

#intro .line2 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1em;
    margin-left: 703px;
    color: rgb(200, 206, 206);
}

nav {
    display: flex;
    font-size: 1em;
    flex-direction: column;
    margin-left: 695px;
    margin-top: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


nav a {
    text-decoration: none;
    color: #e4e4e4;
    padding: 10px;
    transition: font-size 0.3s, font-weight 0.3s;
}

nav a:hover {
    font-size: 1.6em; /* Increase the font size on hover */
    font-weight: bold; /* Make the font bold on hover */
}

main {
    padding: 20px;
}

section {
    padding: 20px;
}

footer {
    padding: 10px;
    text-align: center;
    width: 100%; /* Set the width to 100% */
    bottom: 0; /* Align the footer at the bottom of the page */
    font-size: 14px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    flex-grow: 1;
}

#container {
    display: flex;
    flex: 1;
    height: auto;
}

#left-side {
    position: fixed; /* Fix the position of the left side */
    width: 50%;
    height: auto;
    background-color: #2b2b2b;
    padding: 20px;
    overflow-y: hidden; /* Disable scrolling on the left side */
}

#right-side {
    margin-left: 50%; /* Set the left margin to match the width of the left side */
    width: 50%;
    padding: 20px;
    overflow-y: auto; /* Enable scrolling on the right side */
    margin-top: 50px;
    height: auto;
}

.highlight {
    font-weight: bold; /* Make the text bold */
    color: white;
}

#about p {
    color: rgb(200, 206, 206);
    font-size: 18px;
    line-height: 1.7;
    max-width: 500px;
    word-wrap: break-word;
}

#about h2 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


#experience .timeline {
    position: relative;
    padding-left: -10px; /* Space for the timeline */
}

#experience .entry {
    position: relative;
    margin-bottom: 25px;
}

#experience .entry:before {
    content: '';
    position: absolute;
    left: -25px;
    top: 5px;
    width: 10px;
    height: 10px;
    background-color: #ebdbb2; /* Color of the timeline dot */
    border-radius: 50%;
}

#experience .date {
    font-weight: bold;
    color: #ebdbb2; /* Color of the date text */
    margin-bottom: 10px;
}

#experience .content h3 {
    margin: 0;
    font-size: 20px;
    color: #fff; /* Color of the job title */
    margin-bottom: 10px;
}

.link-icon {
    text-decoration: none; /* Remove underline */
    color: inherit; /* Inherit text color */
}

.link-icon h3::after {
    content: '\1F517'; /* Link icon (Unicode character) */
    margin-left: 7px; /* Space between text and icon */
    font-size: 15px;
}

#experience .content h4 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    color: white;
}

#experience .content p {
    margin: 5px 0;
}

#experience h2 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}





#projects h2 {
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}